<nav class="navbar-lewagon">
  <h2>TURBO UTES</h2>
  <div class="nav-links">
    <%= link_to 'Home', '/' %>
    <%= link_to 'Dashboard', '/dashboard' %>
    <%= link_to 'Sign Up', '/users/sign_up' %>
    <%= link_to 'Log In', '/users/sign_in' %>
    <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete } %>
  </div>
</nav>

<div class="search-container">
  <div class="col-sm-8 my-3">
    <%= form_with url: utes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search for the ute of your dreams"
      %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary rounded" %>
    <% end %>
  </div>
</div>

<div class="card-container">
  <% if @utes.any? %>
    <% @utes.each do |ute| %>
      <div class="card">
        <img src="<%= ute.image_url %>">
        <div class="card-content">
          <h4><strong><%= ute.year %> <%= ute.model %></strong></h4>
          <h5><strong>$<%= ute.price %></strong> day</h5>
          <h5><%= ute.location %></h5>
          <%= link_to "Booking Info", ute_path(ute), class: "btn btn-outline-primary rounded" %>
        </div>
      </div>
      <% end %>
  <% else %>
    <em>Sorry, no utes found.</em>
  <% end %>
</div>

<div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
