<div class="btn btn-link" style="border: solid 1px"><%=link_to "Back", utes_path%></div>
<h2><b><%= @ute.year %> <%= @ute.model  %></b></h2>
<h3>$<%= @ute.price %>/day <%= @ute.location %></h3>
<p style="width:400px"><%= @ute.details %></p>
<img src="<%= @ute.image_url %>" style="width:400px">

<h2>Create A Booking</h2>
<div data-controller="booking">
  <%= simple_form_for @booking, url: ute_bookings_path(@ute) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.button :submit, class:"btn btn-primary"%>
  <% end %>

  <button data-action="click->booking#fire" class="btn btn-outline-primary">
    Calculate Total Price
  </button>

  <div data-booking-target="totalPrice">
    <p>Total Price: $$$<p>
  </div>

</div>
