<nav class="navbar-lewagon">
  <h2>Bookings</h2>
  <div class="nav-links">
    <%= link_to 'Home', '/' %>
    <%= link_to 'Dashboard', '/dashboard' %>
  </div>
</nav>

<div class="d-flex justify-content-center" style="margin-top: 40px;">
  <div class="card">
    <div class="card-content">
      <h2><b><%= @ute.year %> <%= @ute.model  %></b></h2>
      <h3 class="price" id="<%= @ute.price %>"><%= @ute.location%> </h3>
      <h3> from $<%= @ute.price %>/day</h3>
      <p>"<em><%= @ute.details %></em>"</p>
      <img src="<%= @ute.image_url %>" style="width:90%">
    </div>
</div>

<div class="card">
  <div class="card-content">
  <h2>Create A Booking</h2>
  <div data-controller="booking">
    <%= simple_form_for @booking, url: ute_bookings_path(@ute) do |f| %>
    <div style="width:500px">
      <%= f.input :start_date %>
      <%= f.input :end_date %>
    </div>
      <%= f.button :submit, class:"btn btn-primary" %>
    <% end %>
    <!-- Modal -->
    <%# <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Thank You for Your Booking!</h4>
          </div>
          <div class="modal-body">
            <p>If you like Utes then you probably enjoy goats! Check out our friends at GoatHub for all your goat rental needs!</p>
            <a href="https://goathub-87e1ca7715a8.herokuapp.com/"><h2>GoatHub!</h2></a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div> %>
      <br>

      <button data-action="click->booking#fire" class="btn btn-outline-primary">
        Calculate Total Price
      </button>
      <br>
        <p id="total-price">Total Price: $$$<p>
    </div>
    </div>
  </div>
</div>
