<nav class="navbar-lewagon">
  <h2>Bookings</h2>
  <div class="nav-links">
    <%= link_to 'Home', '/' %>
    <%= link_to 'Dashboard', '/dashboard' %>
  </div>
</nav>

<div class="d-flex justify-content-center" style="margin-top: 40px;">
  <div class="card">
    <div class="card-content">
      <h2><b><%= @ute.year %> <%= @ute.model  %></b></h2>
      <h3 class="price" id="<%= @ute.price %>"><%= @ute.location%> </h3>
      <h3> from $<%= @ute.price %>/day</h3>
      <p>"<em><%= @ute.details %></em>"</p>
      <img src="<%= @ute.image_url %>" style="width:90%">
    </div>
</div>

<div class="card">
  <div class="card-content">
  <h2>Create A Booking</h2>
  <div data-controller="booking">
    <%= simple_form_for @booking, url: ute_bookings_path(@ute) do |f| %>
    <div style="width:500px">
      <%= f.input :start_date %>
      <%= f.input :end_date %>
    </div>
      <%= f.button :submit, class:"btn btn-primary"%>
    <% end %>
      <br>

      <button data-action="click->booking#fire" class="btn btn-outline-primary">
        Calculate Total Price
      </button>
      <br>
        <p id="total-price">Total Price: $$$<p>
    </div>
    </div>
  </div>
</div>
