<nav class="navbar-lewagon">
  <h2>Your Dashboard</h2>
  <div class="nav-links">
    <%= link_to "Add Ute", new_ute_path %>
    <%= link_to "Home", utes_path %>
    <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete } %>
  </div>
</nav>

<div class="dashboard">
  <div class="dashboard-tab">
    <div class="card-container">
      <div style="margin-bottom: 30px">
       <h2>My Fabulous Utes</h2>
        <p>** See all the utes you own **</p>
        </div>
          <% @my_utes.each do |ute| %>
            <div class="card">
                <img src="<%= ute.image_url %>" style="width:100%">
                <div class="card-content">
                  <h4><b><%= ute.year %> <%= ute.model %></b></h4>
                  <h5>$<%= ute.price %>.00/day </h5>
                  <h5><%= ute.location %></h5>
                <div class="display: flex;">
                <%= link_to "Edit", edit_ute_path(ute), class: "btn btn-outline-primary"  %>
                <%= link_to "Delete", ute_path(ute), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-primary" %>
                </div>
              </div>
              </div>
          <% end %>
      </div>
    </div>


  <div class="dashboard-tab">
    <div class="card-container">
      <div style="margin-bottom: 30px">
      <h2>My Utes Bookings</h2>
      <p>** Bookings made on your utes**</p>
      </div>
        <% @my_utes_bookings.each do |booking|%>
          <div class="card">
                <img src="<%= booking.ute.image_url %>">
             <div class="card-content">
                <h4><b><%=booking.ute.year %> <%= booking.ute.model %></b></h4>
                <h5>Total: $<%= booking.total_price %>.00</h5>
                <%=link_to "Edit", edit_booking_path(booking), class: "btn btn-outline-primary" %>
              </div>
            </div>
        <% end %>
      </div>
    </div>



  <div class="dashboard-tab">
    <div class="card-container">
      <div style="margin-bottom: 30px">
        <h2>Bookings Made By Me </h2>
        <p>** See the bookings you've made on other utes **</p>
        </div>
            <% @bookings_made_by_me.each do |booking| %>
            <div class="card">
                <img src="<%= booking.ute.image_url %>">
              <div class="card-content">
              <h4><b><%=booking.ute.year %> <%= booking.ute.model %></b></h4>
              <h5>Total: $<%= booking.total_price %>.00</h3>
              <h5 class="btn btn-outline-dark"><b><%=booking.status %></b></h4>
            </div>
            <% end %>
        </div>
      </div>
  </div>
</div>
