<nav class="navbar-lewagon">
  <h2>Update This Booking</h2>
</nav>

<div class="card-container">
  <div class="card">
    <img src="<%= @ute.image_url %>">
    <div class="card-content">
      <h4><%= @ute.year %> <%= @ute.model  %></h4>
      <h5>$<%= @ute.price %>.00/day</h5>
      <h5><%= @ute.location %></h5>
    </div>
  </div>

  <div class="card">
    <div class="px-5">
      <h2 class="text-center">Booking Request</h2>
      <h4 class="text-capitalize">Name: <%= @user.first_name %> <%= @user.last_name %></h4>
      <h4>Start Date: <%= @booking.start_date %></h4>
      <h4>End Date: <%= @booking.end_date %></h4>
      <h4>Total Price: $<%= @booking.total_price %>.00</h4>
    </div>
  </div>
</div>

<div>
  <h2 class="text-center">Choose a Status to Update:</h2>
  <h4 class="status-form"><%= simple_form_for @booking do |f| %>
        <%= f.input :status, as: :radio_buttons, collection: Booking.statuses.keys %>
        <%= f.submit %>
      <% end %>
  </h4>
</div>
