<nav class="navbar-lewagon">
  <h2>Add A Review</h2>
  <div class="nav-links">
    <%= link_to 'Home', '/' %>
    <%= link_to 'Dashboard', '/dashboard' %>
  </div>
</nav>


 <div class="d-flex justify-content-center">
    <div class="card" style=" margin-top:40px; background-color:white;">
      <div style=" padding: 40px;">
      <h2>Tell us about your ride:</h2>
      <br>
         <%= simple_form_for @review, url: ute_booking_reviews_path(params[:ute_id], params[:booking_id]) do |f| %>
          <%= f.input :rating %>
          <%= f.input :comments %>
          <%= f.button :submit, class:"btn btn-primary"%>
          <% end %>
      </div>
    </div>
</div>
